.advantage
  padding: 90px
  min-height: 400px
  background-color: rgb(246, 246, 246)
  &__header
    text-align: center
    font-size: 30px
    font-weight: bold
  &__list
    margin-top: 70px
    display: flex
    justify-content: space-between
  &__item
    max-width: 275px
    text-align: center
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
  &__image
    max-width: 70px
  &__title
    margin-top: 35px
    font-size: 18px
    font-weight: bold
  &__text
    margin-top: 20px
    font-size: 14px
    font-weight: 300
    line-height: 1.29
    span
      color: rgb(255, 0, 0)
