.catalog
  padding-bottom: 100px
  &__title
    text-transform: uppercase
    font-size: 30px
    text-align: center
    color: rgb(13, 13, 13)
  &__tabs
    margin-top: 50px
    column-gap: 10px
    display: flex
    justify-content: center
    list-style: none
  &__tab
    color: black
    text-decoration: none
    cursor: pointer
    transform:  skewX(-25deg)
    display: flex
    width: 222px
    height: 52px
    justify-content: center
    align-items: center
    border: solid 2px rgb(208, 208, 208)
    text-transform: uppercase
    transition: 0.5s all
    &:hover
      box-shadow: 3px 3px 20px rgba(90, 91, 89, 0.36)
    &_active
      border: solid 2px rgb(199, 1, 1)
      background-color: rgb(199, 1, 1)
      color: white
      &:hover
        box-shadow: 3px 3px 20px rgba(199, 1, 1, 0.36)
    span
      transform:  skewX(25deg)
  &__content
    margin-top: 60px
  &__content-wrapper
    display: none
    &_active
      display: flex
      gap: 15px
      flex-wrap: wrap

  &-item
    overflow: hidden
    text-align: center
    padding: 20px
    width: 260px
    min-height: 400px
    border: solid 2px rgb(232, 232, 232)
    background-color: rgb(255, 255, 255)
    display: flex
    flex-direction: column
    img
      display: block
      margin: 0 auto
      max-width: 100%
      height: 200px
    &__title
      margin-top: 15px
      font-size: 16px
      font-weight: bold
    &__text
      margin-top: 15px
    &__link-open
      color: rgb(199, 1, 1)
      margin-top: 10px
    &__link-back
      color: rgb(199, 1, 1)
      margin-top: 10px
    &__footer
      align-items: center
      padding-top: 25px
      margin-top: 15px
      border-top: solid 2px rgb(232, 232, 232)
      justify-content: space-between
      display: flex
    &__button
      width: 135px
      height: 44px
    &__price
      text-align: left
    &__old-price
      font-weight: 300
      color: rgb(85, 85, 85)
      text-decoration: line-through
    &__new-price
      font-size: 20px
      font-weight: bold
    &__wrapper
      display: flex
      width: calc(200% + 40px)
    &__content
      width: 50%
      margin-right: 0
      transform: translateX(-150%)
      transition: 0.5s all
      &_active
        transform: translateX(0%)
        margin-right: 20px
        padding-right: 20px
    &__list
      list-style: none
      margin-left: 20px
      width: 50%
      transform: translateX(0%)
      transition: 0.5s all
      margin-bottom: 0
      padding-left: 20px
      li
        text-align: left
        position: relative
        &:before
          content: " "
          width: 5px
          height: 5px
          background-color: rgb(199, 1, 1)
          top: 6px
          left: -13px
          position: absolute
      &_active
        transform: translateX(-100%)
        margin-left: 0

