.consultation
  padding: 100px 0 100px 0
  background: url("../image/black_bg.png") no-repeat center / cover
  min-height: 500px
  color: white
  &__header
    font-size: 36px
    font-weight: bold
    line-height: 1.5
    text-align: left
    text-transform: uppercase
  &__text
    max-width: 425px
    margin-top: 10px
    font-size: 20px
    font-weight: 500
    line-height: 1.5
    text-align: left
