.footer
  height: 630px
  position: relative
  &__info
    padding: 50px 67px 50px 67px
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 460px
    min-height: 100px
    background-color: #C70101
    font-size: 20px
    text-align: center
    font-weight: 500
  &__address
    font-style: normal
    color: white
  &__phone
    display: block
    margin-top: 20px
    text-align: center
    color: white
    text-decoration: none
  &__social
    margin: 20px auto 0 auto
    max-width: 212px
    display: flex
    justify-content: space-between


