.template__form
  margin-top: 50px
  .error
    border: 1px solid red
    text-align: center
  label.error
    border: none
.template__label
  row-gap: 15px
  display: flex
  flex-direction: column
  align-items: flex-start
.template__input
  border: none
  padding-left: 25px
  border-radius: 10px
  width: 303px
  height: 54px
.template__button
  border-radius: 10px
  margin-top: 10px
  min-width: 328px
  min-height: 58px
