@media (max-width: 992px)
  .start
    padding: 21px 50px 93px 50px
  .advantage
    padding: 90px 50px 0 50px
    &__list
      column-gap: 15px



@media (max-width: 768px)
  .start
    .header
      &__text
        display: none
    &__body
      align-items: center
    &__header
      text-align: center
    &__subheader
      text-align: center
  .advantage
    padding: 90px 50px 90px 50px
    &__list
      row-gap: 25px
      align-items: center
      flex-direction: column


@media (max-width: 576px)
  .start
    .header
      flex-direction: column
      row-gap: 25px

