.overlay
  display: none
  position: fixed
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.56)
.modal
  text-align: center
  padding: 40px
  min-height: 402px
  width: 380px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  background-color: #F2F2F2
  &__subtitle
    font-size: 20px
    font-weight: 700
  &__description
    margin-top: 10px
    font-weight: 700
  &__close
    color: #C70101
    font-size: 50px
    position: absolute
    top: -15px
    right: -45px
  &__mini
    min-height: 50px
  .template__label
    align-items: center


#consultation,#order,#thanks
  display: none


