.slider
  padding: 81px 0
  &__list
    position: relative
    width: 750px
    margin: 0 auto

.slick-prev
  background-color: rgba(255, 255, 255, 0)
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: -66px
  border: none
  img
    width: 31px
    height: 50px
.slick-next
  background-color: rgba(255, 255, 255, 0)
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: -66px
  border: none
  img
    width: 31px
    height: 50px
