.start
  padding: 21px 0 93px 0
  background: url("../image/start_bg.png") no-repeat center / cover
  min-height: 650px
  .header
    display: flex
    justify-content: space-between
    align-items: center
    &__image
      width: 250px
      img
        width: 100%
    &__text
      color: white
      text-align: center
      font-weight: 500
      font-size: 12px
      span
        display: block
        margin-top: 10px
        font-size: 18px
    &__contacts
      display: flex
      flex-direction: column
      align-items: flex-end
      .header__phone
        color: white
        text-decoration: none
        font-size: 18px
      .header__button
        margin-top: 5px
        padding: 5px 20px 5px 20px
        min-width: 153px
        min-height: 32px
  &__body
    display: flex
    flex-direction: column
    align-items: flex-end
    margin-top: 90px
    color: white
    text-transform: uppercase
  &__header
    font-size: 42px
    font-weight: bold
  &__subheader
    margin-top: 15px
    font-size: 24px
    font-weight: 500
  &__icons
    margin-top: 64px
    display: flex
    column-gap: 40px
  &__icon
    max-width: 120px
    display: flex
    flex-direction: column
    img
      max-height: 45px
      margin-bottom: 15px
    p
      text-align: center
      font-size: 14px
      font-weight: 500
  &__button-main
    margin-top: 66px
    min-width: 300px
    min-height: 50px
  &__link
    margin-top: 10px
    text-transform: none
    a
      text-decoration: none
      color: white