*
  padding: 0
  margin: 0
  font-family: 'Roboto', sans-serif

.container
  max-width: 950px
  margin: 0 auto


.button_red
    border: none
    display: flex
    justify-content: center
    align-items: center
    background-color: rgb(199, 1, 1)
    border-radius: 4px
    color: white
    text-transform: uppercase

//TODO: сделать общий класс для загаловков
