* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.button_red {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c70101;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
}

.template__form {
  margin-top: 50px;
}
.template__form .error {
  border: 1px solid red;
  text-align: center;
}
.template__form label.error {
  border: none;
}

.template__label {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.template__input {
  border: none;
  padding-left: 25px;
  border-radius: 10px;
  width: 303px;
  height: 54px;
}

.template__button {
  border-radius: 10px;
  margin-top: 10px;
  min-width: 328px;
  min-height: 58px;
}

.start {
  padding: 21px 0 93px 0;
  background: url("../image/start_bg.png") no-repeat center/cover;
  min-height: 650px;
}
.start .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start .header__image {
  width: 250px;
}
.start .header__image img {
  width: 100%;
}
.start .header__text {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}
.start .header__text span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}
.start .header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.start .header__contacts .header__phone {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.start .header__contacts .header__button {
  margin-top: 5px;
  padding: 5px 20px 5px 20px;
  min-width: 153px;
  min-height: 32px;
}
.start__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
  color: white;
  text-transform: uppercase;
}
.start__header {
  font-size: 42px;
  font-weight: bold;
}
.start__subheader {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
}
.start__icons {
  margin-top: 64px;
  display: flex;
  column-gap: 40px;
}
.start__icon {
  max-width: 120px;
  display: flex;
  flex-direction: column;
}
.start__icon img {
  max-height: 45px;
  margin-bottom: 15px;
}
.start__icon p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.start__button-main {
  margin-top: 66px;
  min-width: 300px;
  min-height: 50px;
}
.start__link {
  margin-top: 10px;
  text-transform: none;
}
.start__link a {
  text-decoration: none;
  color: white;
}

.advantage {
  padding: 90px;
  min-height: 400px;
  background-color: #f6f6f6;
}
.advantage__header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.advantage__list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.advantage__item {
  max-width: 275px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.advantage__image {
  max-width: 70px;
}
.advantage__title {
  margin-top: 35px;
  font-size: 18px;
  font-weight: bold;
}
.advantage__text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
}
.advantage__text span {
  color: red;
}

.consultation {
  padding: 100px 0 100px 0;
  background: url("../image/black_bg.png") no-repeat center/cover;
  min-height: 500px;
  color: white;
}
.consultation__header {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
}
.consultation__text {
  max-width: 425px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}

.slider {
  padding: 81px 0;
}
.slider__list {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.slick-prev {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  border: none;
}
.slick-prev img {
  width: 31px;
  height: 50px;
}

.slick-next {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -66px;
  border: none;
}
.slick-next img {
  width: 31px;
  height: 50px;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: #0d0d0d;
}
.catalog__tabs {
  margin-top: 50px;
  column-gap: 10px;
  display: flex;
  justify-content: center;
  list-style: none;
}
.catalog__tab {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: skewX(-25deg);
  display: flex;
  width: 222px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border: solid 2px #d0d0d0;
  text-transform: uppercase;
  transition: 0.5s all;
}
.catalog__tab:hover {
  box-shadow: 3px 3px 20px rgba(90, 91, 89, 0.36);
}
.catalog__tab_active {
  border: solid 2px #c70101;
  background-color: #c70101;
  color: white;
}
.catalog__tab_active:hover {
  box-shadow: 3px 3px 20px rgba(199, 1, 1, 0.36);
}
.catalog__tab span {
  transform: skewX(25deg);
}
.catalog__content {
  margin-top: 60px;
}
.catalog__content-wrapper {
  display: none;
}
.catalog__content-wrapper_active {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.catalog-item {
  overflow: hidden;
  text-align: center;
  padding: 20px;
  width: 260px;
  min-height: 400px;
  border: solid 2px #e8e8e8;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.catalog-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__title {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
.catalog-item__text {
  margin-top: 15px;
}
.catalog-item__link-open {
  color: #c70101;
  margin-top: 10px;
}
.catalog-item__link-back {
  color: #c70101;
  margin-top: 10px;
}
.catalog-item__footer {
  align-items: center;
  padding-top: 25px;
  margin-top: 15px;
  border-top: solid 2px #e8e8e8;
  justify-content: space-between;
  display: flex;
}
.catalog-item__button {
  width: 135px;
  height: 44px;
}
.catalog-item__price {
  text-align: left;
}
.catalog-item__old-price {
  font-weight: 300;
  color: #555555;
  text-decoration: line-through;
}
.catalog-item__new-price {
  font-size: 20px;
  font-weight: bold;
}
.catalog-item__wrapper {
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0;
  transform: translateX(-150%);
  transition: 0.5s all;
}
.catalog-item__content_active {
  transform: translateX(0%);
  margin-right: 20px;
  padding-right: 20px;
}
.catalog-item__list {
  list-style: none;
  margin-left: 20px;
  width: 50%;
  transform: translateX(0%);
  transition: 0.5s all;
  margin-bottom: 0;
  padding-left: 20px;
}
.catalog-item__list li {
  text-align: left;
  position: relative;
}
.catalog-item__list li:before {
  content: " ";
  width: 5px;
  height: 5px;
  background-color: #c70101;
  top: 6px;
  left: -13px;
  position: absolute;
}
.catalog-item__list_active {
  transform: translateX(-100%);
  margin-left: 0;
}

.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  padding: 50px 67px 50px 67px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 460px;
  min-height: 100px;
  background-color: #C70101;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.footer__address {
  font-style: normal;
  color: white;
}
.footer__phone {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.footer__social {
  margin: 20px auto 0 auto;
  max-width: 212px;
  display: flex;
  justify-content: space-between;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  text-align: center;
  padding: 40px;
  min-height: 402px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F2F2F2;
}
.modal__subtitle {
  font-size: 20px;
  font-weight: 700;
}
.modal__description {
  margin-top: 10px;
  font-weight: 700;
}
.modal__close {
  color: #C70101;
  font-size: 50px;
  position: absolute;
  top: -15px;
  right: -45px;
}
.modal__mini {
  min-height: 50px;
}
.modal .template__label {
  align-items: center;
}

#consultation, #order, #thanks {
  display: none;
}

@media (max-width: 992px) {
  .start {
    padding: 21px 50px 93px 50px;
  }

  .advantage {
    padding: 90px 50px 0 50px;
  }
  .advantage__list {
    column-gap: 15px;
  }
}
@media (max-width: 768px) {
  .start .header__text {
    display: none;
  }
  .start__body {
    align-items: center;
  }
  .start__header {
    text-align: center;
  }
  .start__subheader {
    text-align: center;
  }

  .advantage {
    padding: 90px 50px 90px 50px;
  }
  .advantage__list {
    row-gap: 25px;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .start .header {
    flex-direction: column;
    row-gap: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
